- var baseUrl = 'http://zmd.nixallover.com/'
doctype html
html(lang='en')
    head

        link(rel='icon',href='img/zmd-icon.png')

        title Zombie Match Defense | A game coming to iOS and Android
        
        block styles
            //- link(rel='stylesheet', href='styles/animate.css')
            //- link(rel='stylesheet', href='styles/style.css')
            link(rel='stylesheet', href='styles/blog-nav.css')

        script(src=baseUrl+'scripts/jquery.min.js') 
        script(src=baseUrl+'scripts/tooltips.js')

    body
        //- top-nav
        #nav-container
            .chevron.animated.bounceInDown
            nav#top-nav.animated.bounceInDown
                .top-left-nav
                    .brand
                        a.icon-link#shovelware-website(
                            href='http://shovelware.com/', 
                            title='Shovelware Games', 
                            rel='tooltip'
                        )
                            img(
                                src=baseUrl+'img/Shovelware_Logo.png', 
                                alt='Shovelware Games'
                            )
                    .top-nav-links.social
                        a.icon-link#presskit(
                            href='http://shovelware.com/press/', 
                            title='Presskit', 
                            rel='tooltip'
                        )
                        a.icon-link#email(
                            href='mailto:hello@shovelware.com', 
                            title='Email', 
                            rel='tooltip'
                        )
                        a.icon-link#twitter(
                            href='https://twitter.com/shovelware', 
                            title='Twitter', 
                            rel='tooltip'
                        )
                        a.icon-link#facebook(
                            href='https://www.facebook.com/pages/Zombie-Match-Defense/430837240409375', 
                            title='Facebook', 
                            rel='tooltip'
                        )

                .top-center-nav
                    h1#nav-brand-logo
                        a(href='http://zombiematchdefense.com')
                            img(
                                src=baseUrl+'img/ZMD_Logo.png', 
                                alt='Zombie Match Defense'
                            )

                .top-right-nav
                    .top-nav-links.right
                        a.store-link#app-store.store(
                            href='https://itunes.apple.com/us/app/zombie-match-defense/id952938642', 
                            title='Get the game on the App Store'
                        )
                            img(
                                src=baseUrl+'img/app-store.png', 
                                alt='Available on the App Store'
                            )

                        div.store-link.disabled#google-play.store(
                            title='Coming soon to Google Play'
                        )
                            img(
                                src=baseUrl+'img/google-play-coming-soon.png', 
                                alt='Available on Google Play'
                            )
                    
