doctype html
html(lang='en')
    head

        link(rel='icon',href='img/zmd-icon.png')

        title Zombie Match Defense | A game coming to iOS and Android
        
        block styles
            //- link(rel='stylesheet', href='styles/animate.css')
            link(rel='stylesheet', href='styles/style.css')

    body
        //- top-nav
        #nav-container
            .chevron.animated.bounceInDown
            nav#top-nav.animated.bounceInDown
                #brand-links.icon-links
                    a#shovelware-website(
                        href='http://shovelware.com/', 
                        title='Shovelware Games', 
                        rel='tooltip'
                    )
                        img(
                            src='img/Shovelware_Logo.png', 
                            alt='Shovelware Games'
                        )
                    a#presskit(
                        href='http://shovelware.com/press/', 
                        title='Presskit', 
                        rel='tooltip'
                    )
                    a#email(
                        href='mailto:hello@shovelware.com', 
                        title='Email', 
                        rel='tooltip'
                    )

                #social-links.icon-links
                    a#tumblr(
                        href='http://blog.zombiematchdefense.com/', 
                        title='Dev blog', 
                        rel='tooltip'
                    )
                    a#twitter(
                        href='https://twitter.com/shovelware', 
                        title='Twitter', 
                        rel='tooltip'
                    )
                    a#facebook(
                        href='https://www.facebook.com/pages/Zombie-Match-Defense/430837240409375', 
                        title='Facebook', 
                        rel='tooltip'
                        )

                h1#nav-brand-logo
                    img(
                        src='img/ZMD_Logo.png', 
                        alt='Zombie Match Defense'
                    )